.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  flex: 1 1 0;
  background-color: hsl(220deg 13% 13%);
  color: white;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.character {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 25px;
  height: 60rem;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.character-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}

.class-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attribute-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.class-min {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 12rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.fancy-button {
  background-color: #5673c2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 10rem;
  font-weight: bold;
}

.top-button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
